desktop-1-JYa {
    background-color: #ffffff;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
    .frame-4-vpr {
      background-color: #769791;
      height: 102.4rem;
      left: 102.9rem;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 41.1rem;
    }
    .delicious-healthy-fresh-salads-m6i {
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
      font-size: 6rem;
      font-weight: 700;
      height: 14.4rem;
      left: 14.7rem;
      line-height: 1.1975;
      position: absolute;
      top: 35.8rem;
      width: 45.9rem;
    }
    .discover-new-flavors-and-elevate-your-cooking-game-where-every-meal-is-a-masterpiece-bring-the-world-of-cuisine-to-your-fingertips-Pdt {
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      height: 16.4rem;
      left: 14.7rem;
      line-height: 1.3625;
      position: absolute;
      top: 51.2rem;
      width: 58.9rem;
    }
    .anna-pelzer-igfigp5onv0-unsplash-removebg-preview-1-1-pjC {
      height: 59.9rem;
      left: 62.6rem;
      object-fit: cover;
      position: absolute;
      top: 23.7rem;
      vertical-align: top;
      width: 75.7rem;
    }
    .frame-3-KR4 {
      height: 10rem;
      left: 91.7rem;
      overflow: hidden;
      position: absolute;
      top: 10.7rem;
      width: 10rem;
    }
    .frame-2-rft {
      align-items: center;
      background-color: rgba(117, 150, 144, 0.5600000024);
      border-radius: 0.8rem;
      color: #000000;
      display: flex;
      font-family: Open Sans, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 400;
      height: 6.4rem;
      justify-content: center;
      left: 20.65rem;
      line-height: 1.3625;
      position: absolute;
      text-align: center;
      top: 70rem;
      white-space: nowrap;
      width: 32.5rem;
    }
    .frame-1-uPG {
      align-items: flex-start;
      background-color: rgba(255, 255, 255, 0.2599999905);
      box-sizing: border-box;
      display: flex;
      height: 4.9rem;
      left: 8.4rem;
      padding: 0rem 1.6rem 0rem 3.15rem;
      position: absolute;
      top: 5rem;
      width: 93.3rem;
    }
      .home-kPt {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-right: 17.25rem;
        text-align: center;
        white-space: nowrap;
      }
      .menu-3dt {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-right: 14.2rem;
        text-align: center;
        white-space: nowrap;
      }
      .takeaway-y1k {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-right: 12.4rem;
        text-align: center;
        white-space: nowrap;
      }
      .contact-JJv {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        text-align: center;
        white-space: nowrap;
      }
